:root {
  --main: aliceblue;
  --second: lightgray;
  --accent: lightsteelblue;
  --active: rgb(207, 255, 250);
  --radius: 5px;
  --elma-red: #E62D31;
  --elma-ocher: #F9BE01;
  --elma-blue: #5081E6;
  --elma-azure: #5AD2FF;
}

#root {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

* [draggable=true] {
  cursor: move;
}

@font-face {
  font-family: Inter;
  src: url("/font.ttf") format("truetype")
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

span {
  font-family: Inter;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.mt-1 {
  margin-top: 1rem;
}

h1 {
  text-align: center;
  margin: 30px;
}

.table {
  width: fit-content;
  display: grid;
  border-collapse: collapse;
  font-size: 13px;
}

.table>div {
  border-right: 0.5px solid var(--main);
  height: min-content;
}

.table__header, .table__executor, .table__cell {
  width: 100px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-bottom: 0.5px solid var(--second);
}

.table__cell {
  border-radius: var(--radius);
}

.table__cell:hover {
  background-color: var(--main)
}

.table__executor {
  background-color: var(--main);
  border-bottom: 1px solid transparent
}

.table__executor:hover {
  background-color: var(--main);
  border-bottom: 1px solid var(--accent);
}

.table__header {
  background-color: var(--main);
  border-bottom: none;
}

.table__cell-task {
  background-color: var(--second);
  border-radius: var(--radius);
  transform: scale(0.90);
}

.table__cell-task:hover {
  background-color: var(--accent);
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.table__cell-task:hover>.tooltip {
  visibility: visible;
}

.tooltip {
  border: 1px solid var(--accent);
  position: absolute;
  left: 101px;
  min-width: 125px;
  height: 125px;
  border-radius: var(--radius);
  background-color: #fff;
  visibility: hidden;
  color: black;
  padding: 0 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.backlog__task .tooltip {
  min-width: fit-content;
  transform: translate(-146%, -63%);
}

.hidden {
  display: none;
}

.backlog {
  background-color: var(--main);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.backlog__header {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0px;
  font-size: 22px;
  font-weight: 300;
  cursor: pointer;
  width: min-content;
}

.backlog__header:hover {
  text-decoration: underline;
}

.backlog__task:hover>.tooltip {
  visibility: visible;
}

.backlog__task {
  font-size: 13px;
  margin: 10px;
  border: 1px solid #fff;
  padding: 7px;
  border-radius: var(--radius);
  position: relative;
}

.backlog__task:hover {
  background-color: var(--accent);
  border-color: var(--accent);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.backlog__task:hover>.backlog__title {
  opacity: 1;
}

.backlog__title {
  font-weight: 600;
  margin: 3px 0;
  opacity: 0.75;
}

.backlog__input {
  width: 95%;
  display: block;
  margin: 0 auto;
  font-size: 13px;
  border: 1px solid var(--accent);
  border-radius: var(--radius);
  height: 24px;
  text-indent: 3px;
  outline: none;

}

.prev-btn, .next-btn {
  background-color: var(--main);
  cursor: pointer;
  font-weight: 500;
}

.prev-btn {
  border-top-left-radius: var(--radius);
}

.prev-btn:hover, .next-btn:hover {
  color: white;
  background-color: var(--accent);
}

.today {
  height: min-content;
  margin: 0 -1px;
  position: relative;
  border-left: 2px solid var(--accent);
}

.today::before {
  content: "Today";
  position: absolute;
  top: -25px;
  left: -20px;
  color: var(--accent);
  font-weight: 500;
}

.executors {
  border-left: 0.5px solid var(--main)
}